body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********** TOPBAR **********/

#topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.topbar-title > span {
    display: none;
}

nav {
    flex-grow: 1;
}

.topbar-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.topbar-list-item {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.topbar-list-item:hover {
    background-color: #e5e6eb;
    color: #111;
}

/********** HEADER **********/

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffebef;
}

.portfolio-heading {
    font-size: 2.25rem;
    color: #1f2937;
}

/********** PORTFOLIO TABS **********/

.portfolio-tabs {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e6eb;
}

.portfolio-tabs-container {
    display: flex;
    justify-content: center;
}

.portfolio-tabs-wrapper {
    display:flex;
    justify-content: center;
}

.portfolio-tab {
    padding: 0.5rem 1.5rem; 
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f2937;       
    background-color: #ffffff;
    border: 1px solid #FADADD; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-tab:first-child {
    border-radius: 0.375rem 0 0 0.375rem;
}

.portfolio-tab:last-child {
    border-radius: 0 0.375rem 0.375rem 0;
}

.portfolio-tab.active {
    background-color: #fadadd;
    color: #1f2937;
}

.portfolio-tab:hover {
    background-color: #ffe4e1;
}

.portfolio-tab:focus {
    outline: 2px solid #fadadd;
}