<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminDashboard.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link rel="icon" href="/images/mochachino-logo.png" type="image/png">

    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet">

</head>
<body>
    <!-- Start Grid Layout -->
    <div class="grid-container">

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <div class="sidebar-brand-logo">
                        <img src="images/mochachino-logo.png" alt="Mochachino Logo">
                    </div>
                    <div class="sidebar-brand-name">
                        <span>Mochachino</span>
                    </div>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <nav aria-label="Sidebar Navigation">
                <ul class="sidebar-list">
                    <a href="index.html"><li class="sidebar-list-item">
                        <span class="material-icons-outlined">space_dashboard</span> Dashboard
                    </li></a>
                    <a href="portfolio.html"><li class="sidebar-list-item">
                        <span class="material-icons-outlined">collections</span> Portfolio
                    </li></a>
                    <a href="commissions.html"><li class="sidebar-list-item">
                        <span class="material-icons-outlined">design_services</span> Commissions
                    </li></a>
                    <a href="conventions.html"><li class="sidebar-list-item">
                        <span class="material-icons-outlined">event</span> Conventions
                    </li></a>
                    <a href="blog.html"><li class="sidebar-list-item">
                        <span class="material-icons-outlined">article</span> Blog
                    </li></a>
                    <a id="logout-button" href="login.html"><li class="sidebar-list-item">
                        <span class="material-icons-outlined">logout</span> Logout
                    </li></a>
                </ul>
            </nav>
        </aside>
        <!-- End Sidebar -->
        
        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                <span class="material-icons-outlined">notifications</span>
                <span class="material-icons-outlined">email</span>
                <span class="material-icons-outlined">account_circle</span>
            </div>
        </header>
        <!-- End Header -->

        <!-- Main Content -->
        <main class="main-container" role="main">
            @RenderBody()
        </main>


    </div> <!-- End Grid Layout -->

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AdminDashboard - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>